@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
    font-family: 'Barlow', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1398px;
    /* border: 1px solid black; */
}

ul{
    list-style-type: none;
    padding: 0;
}